.env
.nuxt
.output
dist
node_modules

# vitepress build output
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

# vitest output folder
.vitest

# nuxt-spec screenshots folder
__current__

# Vitest browser screenshots folder
# (deliberately ignored during development)
__screenshots__
