.env
.nuxt
.output
dist
node_modules

# vitepress build output
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

# vitest output folder
.vitest

# nuxt-spec screenshots folder
__current__

# nuxt-spec HTML test reports folder
__reports__

# Vitest browser screenshots folder
# (deliberately ignored during development)
__screenshots__

# local playground app
playground/test
playground/pnpm-lock.yaml
playground/pnpm-workspace.yaml
